@import '@/styles/base.scss';
.social {
    display: flex;
    align-items: center;
    span {
        height: 50px;
        width: 50px;
        align-items: center;
        flex-direction: column;
        font-size: 14px;
        justify-content: center;
        padding: 10px 0px;
        text-align: center;
        color: rgb(138, 147, 155);
        display: inline-flex;
        border: 1px solid rgb(229, 232, 235);
        border-radius: 5px;
    }
}